* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* font-family: 'Oswald', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Abril Fatface', cursive; */
}

body{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.65)), url(../yudawardana94.github.io/pic/tebing.jpg);;
    background-size: cover;
    background-position: center;
    height: 640px;
    width: auto;
    background-repeat: no-repeat;
    font-family: 'Abril Fatface', cursive;
}
.bawahbody{
    background-image: url(../yudawardana94.github.io/pic/wheat.png);
}

.layer2 {
    background-color: #eaeaea;
    position: absolute;
}
/* *****navigation bar***** */

    /* font-family:  'Oswald', sans-serif; */

.navbar a {
   text-decoration: none; 
   color: #eaeaea;
   margin-top: 10px;
   float: left;
   font-size: 20px;
   font-family: 'oswald', sans-serif;
}

#logo {
    margin-left: 10px;
   
}

.navbar ul{
    float: right;    
    margin-right: 10px;
    list-style-type: none;
    font-weight: 400;
}
.navbar ul li{
    display: inline-block;
}

.navbar ul li a{
    padding: 0px 15px;
    font-family: 'oswald', sans-serif;
}

.navbar ul li a:hover{
    background-color: #eaeaea;
    color: #232323;
    opacity: 0.7;
    transition: 0.4s ease ;
    transition-delay: 4ms;
}

/* *****mid***** */
.container {
    width: 1000px;
    /* height: 620px; */
    margin: auto;
    /* background: #232323 */
}

.container h1{
    position: absolute;
    top: 38%;
    left: 21%;
    /* background-color: aquamarine; */
    text-align: right;
    font-size: 100px;
    color: #eaeaea;
    font-family: 'Boogaloo', cursive;
}
.container h4{
    font-family:  'Lobster', cursive;
    /* background-color: aliceblue; */
}

.fr {
    text-align: center;
    margin: 0px 400px;
    position: absolute;
    top: 57%;
    left: 11%;
    color: #eaeaea;

}
.fr h4{
    color: salmon;
    display: inline-block;
    color: #eaeaea;
    padding: 2px 5px;
    border: 1px solid #eaeaea;
}

.fr h4 a{
    text-decoration: none;
    padding: 3px 10px;
    color: #eaeaea;
    font-size: 20px;
    font-family: 'oswald', sans-serif;
}

.fr h4 a:hover{
    /* background-color: #eaeaea; */
    color: #eaeaea;
    padding: 10px;
    transition: 0.4s ease ;
    transition-delay: 4ms;
}

.homefooter{
    /* background-color: aqua; */
    text-align: center;
    opacity: 0.7;
    position: fixed;
    bottom: 1%;
    left: 40%;
    color: #eaeaea;
}

/* navigasi selain home */
.navabout{
    background-color: #282828;
    padding: 15px 20px;

}
.navabout a{
    /* background-color: #282828; */
    text-decoration: none;
    color: #eaeaea;
    padding-top: 10px;
    font-family: 'oswald', sans-serif;
}

.navabout ul{
    text-decoration: none;
    list-style: none;
    float: right;
    font-weight: 400;
}

.navabout ul li{
    display: inline-block;
}

.navabout ul li a{
    padding: 2px 15px;
    font-size: 17px;
    font-family: 'oswald', sans-serif;
}

.navabout ul li a:hover{
    background-color: #eaeaea;
    color: #282828;
    opacity: 0.6;
    transition: 0.4s ease;
    transition-delay: 4ms; 
}

.konten {
    /* background-color: salmon; */
    width: 800px;
    margin: auto;
    padding-top: 20px;
}


/* konten Contact Us */

.gambar {
    height: 300px;
    background-image: url(../yudawardana94.github.io/pic/tebing2.jpg);
    background-position: 0 -210px;
    background-size: cover
} 

.contact h2{
    color: #eaeaea;
    text-align: center;
    margin-top: 40px;
    font-size: 50px;
    font-family: 'lobster', cursive;
}
.contact form{
    position: relative;
    left: 420px;
    margin: 20px;
    display: inline-block;
}

.contact table{
    text-align: left;
    size: 100px;
}
.contact table tr td{
    width: 100px;
    height: 50px;
    position: relative;
    left: 50px;
    top: -90px;
    color: #eaeaea;
}

.footerab {
    text-align: center;
    background-color: #232323;
    color: #eaeaea;
    padding: 15px 0;
}

.footerab p{
    font-weight: 700;
}

/* konten about */

.gambarab{
    height: 300px;
    background-image: url(../yudawardana94.github.io/pic/pantai.jpg);
    background-position: 0 -40px;
    background-size: cover;
}

.About{
    margin: 0px 276px;
    padding :10px 60px;
    background-color: #eaeaea;
    /* border: 1px solid black; */
}
.About h2{
    color: #232323;;
    text-align: center;
    margin: 0px 200px;
    margin-top: 20px;
    font-size: 30px;
    font-family: 'vigo', sans-serif;
}
.teks{
    color: #232323;;
    text-align: left;
    margin: 0px 250px;
}

.teks h4{
    font-family: 'roboto', sans-serif;
    font-size: 20px;
    font-weight: 900;
}

.teks p{
    font-family: 'roboto', sans-serif;
}

.footernew{
    text-align: center; 
    color: #eaeaea;
    background-color: #232323;
    padding: 15px 0;
    margin-top: 20px;
}

.footernew p{
    font-weight: 700p;
}

/* konten our story */
.gambarour{
    height: 300px;
    background-image: url(../yudawardana94.github.io/pic/kebunteh.jpg);
    background-position: 0 -70px;
    background-size: cover;
}

.ourstory{
    margin: 0px 276px;
    padding :10px 60px;
    background-color: #eaeaea;
}

.sisikanan ul li{
    display: inline-block;
    margin: 10px 40px;
    padding: 5px 10px;
}
.cerita p{
    font-family: 'roboto', sans-serif;
}

.ourstory h1{
    font-size: 50px;
    margin-bottom: 9px;
    margin-left: 20px;
    font-family: 'Lobster', cursive;
    font-weight: 300;
}

.cerita h3 {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.cerita h4{
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

/* konten galery */

.gambargal{
    height: 300px;
    background-image: url(../yudawardana94.github.io/pic/ramai.jpg  );
    background-position: 0 -100px;
    background-size: cover;
}

.galery{
    margin: 0px 276px;
    padding :10px 60px;
    padding-bottom: 30px;
    background-color: #eaeaea;
}

.galery h1{
    margin-top: 30px;
    margin-bottom: 20px; 
    font-size: 50px;
    font-family: 'Lobster', cursive;
    font-weight: 300;
}
.list{
    text-align: justify;
    left: 20px;
}